.about-us {
	padding-bottom: 180px;
}

.about-us__title {
	font-weight: 300;
	font-size: 1.6rem;
	color: $color-2;
	text-align: center;
	padding-bottom: 3rem;
}

.about-us__description {
	width: 62.93%;
	font-weight: 300;
	font-size: 2.4rem;
	line-height: 2.8rem;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 6rem;
}

.about-us__cards {
	display: flex;
	column-gap: 35px;
}

.about-us__card {
	width: 23.879%;
	display: flex;
	flex-flow: column;
	align-items: center;
	text-align: center;
}

.about-us__card-icon-wrapper {
	position: relative;
	width: 45.84%;
	height: 0;
	padding-bottom: 45.84%;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 20px 20px 15px #6969691a;
	margin-bottom: 40px;
	cursor: pointer;
	transition: .2s all linear;

	&:hover {
		transform: scale(1.1);
		box-shadow: none;
	}
}

.about-us__card-icon {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50% auto;

	&:hover {
		background-color: $color-1;
		border: 1rem solid #e6e3f3;
	}
}

.about-us__card-icon--1 {
	background-image: url("../img/icons/au-1.png");

	&:hover {
		background-image: url("../img/icons/au-1-white.png");
	}
}

.about-us__card-icon--2 {
	background-image: url("../img/icons/au-2.png");

	&:hover {
		background-image: url("../img/icons/au-2-white.png");
	}
}

.about-us__card-icon--3 {
	background-image: url("../img/icons/au-3.png");

	&:hover {
		background-image: url("../img/icons/au-3-white.png");
	}
}

.about-us__card-title {
	font-size: 1.8rem;
	line-height: 3.2rem;
	font-weight: 500;
	margin-bottom: 40px;
}

.about-us__card-description {
	font-size: 1.6rem;
	line-height: 2.6rem;
	font-weight: 300;
	color: #727272;
}

.about-us__cards-separator {
	width: 6%;
	height: 1px;
	margin-top: 6%;
	background-color: #72727250;
}
