.first-section {
	position: relative;
	overflow: hidden;
	padding-top: 130px;
	padding-bottom: 130px;
}

.first-section__bacground {
	position: absolute;
	top: -40px;
	left: 44%;
	width: 85.937%;
	height: 0;
	padding-bottom: 54.687%;
	background: url("../img/bg-1.png") no-repeat center;
	background-size: contain;
}

.first-section__wrapper {
	display: flex;
	column-gap: 15px;
}

.first-section__content {
	flex: 0 0 44.827%;
}

.first-section__picture {
	position: relative;
	flex: 0 0 38.75vw;
	height: 0;
	padding-bottom: 37.76vw;
}

.first-section__picture-image {
	position: absolute;
	top: 0;
	left: 0;
}

.first-section__pre-title {
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2rem;
	color: $color-2;
	margin-bottom: 3.5rem;
}

.first-section__title {
	font-weight: 600;
	font-size: 5.2rem;
	line-height: 6.5rem;
	margin-bottom: 5rem;
}	

.first-section__description {
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 3rem;
	color: $color-3;
	margin-bottom: 6rem;
}

.first-section__buttons {
	display: flex;
	column-gap: 2rem;
}



