@media screen and (max-width: 1024px) {
	
	.header {
		position: fixed;
	}

	.header__wrapper {
		height: 76px;
		background-color: #fffe;
	}

	.header__nav {
		order: 1;
		position: relative;
		width: 40px;
		height: 37px;
	    margin-left: 40px;
	    cursor: pointer;

	    .burger-line {
	    	top: 50%;
	    	transform: translateY(-50%);
	    }

	    .burger-line,
	    &::before,
	    &::after {
	    	position: absolute;
	    	content: "";
	    	display: block;
	    	width: 100%;
	    	height: 4px;
	    	background-color: $color-1;
		    transition: .4s all ease-out;
	    }

	    &::before {
	    	top: 0;
	    }

	    &::after {
	    	bottom: 0;
	    }

	    &.mobile-menu--active {
	    	.burger-line {
	    		display: none;
	    	}

	    	&::before {
	    		top: 50%;
	    		transform: translateY(-50%) rotate(45deg);
	    	}

	    	&::after {
	    		bottom: 50%;
	    		transform: translateY(50%) rotate(-45deg);
	    	}
	    }

	}

	.header__menu {
		position: fixed;
	    top: 0;
	    left: 0;
	    width: 100vw;
	    height: 100vh;
	    overflow: scroll;
		background-color: white;
	    background-image: url(../img/bg-1.png);
	    flex-flow: column;
	    align-items: center;
	    justify-content: flex-start;
	    z-index: -1;
	    padding: 100px 0 60px;
	    transform: translateX(-200%);
	    transition: .4s all ease-out;

	    &> li {
	    	margin-left: 0;
	    	margin-bottom: 40px;
	    }

	    &.mobile-menu--active {
		    transform: translateX(0);
	    }

	}
    
    .header__link {
    	font-size: 5rem;
	    color: #fe688b;
	    border-bottom: 2px solid #124ee8;
    }

    .first-section {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.first-section__wrapper {
		flex-flow: column;
		align-items: center;
	}

	.first-section__content {
		order: 1;
		width: 100%;
		flex: none;

	}

	.first-section__picture {
		width: 55%;
		padding-bottom: 55%;
		flex: none;
		margin-left: 0;	
	}

	.first-section__picture-image {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {

	html {
		font-size: 9px;
	}


	//About us section
	.about-us {
		padding-bottom: 100px;
	}

	.about-us__description {
		width: 80%;
		font-size: 2rem;
		color: #727272;
	}

	.about-us__cards {
		flex-flow: column;
		align-items: center;
	}

	.about-us__card {
		width: 50%;
		margin-left: 0;	
	}

	.about-us__card-icon-wrapper {
		width: 30%;
	    padding-bottom: 30%;
	    margin-bottom: 20px;
	}

	.about-us__card-title {
		font-size: 2.5rem;
		margin-bottom: 20px;
	}

	.about-us__card-description {
		font-size: 2rem;
	}

	.about-us__cards-separator {
		width: 20%;
		margin: 30px 0;
	}


	//Courses Collection Section
	.courses-collection {
		margin-bottom: 100px;
	}

	.courses-collection__cards-row {
		flex-flow: column;
	    align-items: center;
	    margin-bottom: 0;
	}

	.courses-collection__cards-row:first-child {
		margin-bottom: 0;
	}

	.courses-collection__card {
		width: 70%;
		margin-left: 0;	
		margin-bottom: 30px;
	}

	//Footer
	.footer__columns {
		position: relative;
		padding-bottom: 300px;
	}

	.footer__column:first-child {
		position: absolute;
	    bottom: 0;
	    flex-flow: row;
	    left: 0;
	    width: 100%;
	    justify-content: space-between;
	}

	.footer__social-links {
		padding-top: 12px;
	}

	.footer__sub {
		flex-flow: column;
	}

	.footer__design {
		order: 1;
	}

	.footer__sub-link {
		margin-bottom: 20px;	
	}

	.footer__sub-link:first-child {
		padding-left: 0;
	}
}

@media screen and (max-width: 586px) {
	
	.header__wrapper {
		justify-content: space-between;
	}

	.header__controls {
		display: none;
	}

	.header__nav {
		width: 30px;
		height: 30px;
	}

	.first-section__picture {
		margin-bottom: 20px;
	}

	.first-section__title {
		font-size: 7vw;
		line-height: 9.5vw;
	}

	.first-section__buttons {
		justify-content: center;
	}

	.first-section__button {
		font-size: 	2rem;
	}

	.about-us__description {
		width: 100%;
	}

	.about-us__card {
		width: 100%;
	}

	.courses-collection__title-block {
		flex-flow: column;
	    margin-bottom: 40px;
	}

	.courses-collection__title {
		align-self: flex-start;
		font-size: 7vw;
		line-height: 9vw;
		margin-bottom: 15px;	
	}

	.courses-collection__card {
		width: 100%;
	}

	.get-started {
		margin-bottom: 100px;
	}

	.get-started__title {
		font-size: 2.6rem;
		line-height: 3rem;
	}

	.get-started__form {
		flex-flow: column;
	    border-radius: 5px;
	}

	.form__input {
		width: 100%;
		margin-bottom: 	30px;
	}

	.form__button {
		display: flex;
	    justify-content: center;
	    border-radius: 5px;
	}

	.footer__columns {
		flex-flow: column;
	    padding-bottom: 0;
	    margin-bottom: 0;	
	}

	.footer__column {
		width: 100%;
		margin-bottom: 30px;
	}

	.footer__column:first-child {
		position: static;
	    flex-flow: column;
	    order: 6;
	}

	.footer__adress-and-contacts {
		margin-bottom: 1rem;
	}

	.footer__contacts {
		margin-bottom: 1rem;
	}

	.footer__column-title {
		margin-bottom: 7px;
	}

	.footer__sub-link {
		font-size: 1rem;
	}

	.footer__design {
		font-size: 1rem;
	}

}